/*Barra de navegação horizontal*/
ul#navegacao{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 540px; /*Definir uma largura bemlarga para caber os itens*/
    background: #159cb0 url('imagens/fundo-horizontal.png') repeat-x;
    float: left; /*dois elementos flutuantes para não ter que usar o clear*/
}

ul#navegacao li{
    float: left; /*fazer os itens da lista flutuarem à esquerda para um ficar do lado do outro*/
}

ul#navegacao a {
    display: block;
    padding: 0 2em;
    line-height: 2.4em;
    text-decoration: none;
    color: white; 
    background: url('imagens/divisor.png') repeat-y left top;/*Ele vai repetir para cima, daí se o menu for muito comprido o divisor ainda vai aparecer*/
}

ul#navegacao .primeiro a{
    background: none;
}

ul#navegacao a:hover{
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#contato #navegacao .contato a,
#noticias #navegacao .noticias a{
    color: #085662;
    background: #44cade;
}
